<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.refactor.demo.Dao.UserDetailsMapper">
    <select id="getAuthoritiesByroles" resultType="java.lang.String">
        SELECT url
        FROM menu m LEFT JOIN roles_menu r_m on m.id=r_m.mid
        LEFT JOIN roles r ON r_m.rid=r.id
        <if test="roles!=null">
            <trim prefix="WHERE" suffixOverrides="AND|OR">
                r.name in
                <foreach collection="roles" item="role" separator="," open="(" close=")">
                    #{role}
                </foreach>
            </trim>
        </if>
    </select>
</mapper>