<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<script type="text/javascript" src="static/asserts/js/jquery-3.2.1.slim.min.js"></script>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>Signin Template for Bootstrap</title>
		<!-- Bootstrap core CSS -->
		<link href="asserts/css/bootstrap.min.css" rel="stylesheet" th:href= @{/asserts/css/bootstrap.min.css}>
		<!-- Custom styles for this template -->
		<link href="asserts/css/signin.css" rel="stylesheet" >
	</head>

	<body class="text-center">
		<form class="form-signin" action="userlogin" method="post">
			<img class="mb-4" src="asserts/img/bootstrap-solid.svg" alt="" width="72" height="72">
			<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
			<label class="sr-only">Username</label>
			<input type="text" class="form-control" placeholder="Username" name="un" required="" autofocus="" id="username">
			<label class="sr-only">Password</label>
			<input type="password" class="form-control" placeholder="Password" name="pd" required="" id="password">
			<span>验证码</span><input type="text" name="captchaCode" id="captchaCode"/>
			<img src="kaptcha" id="kaptcha" width="110px" height="40px"/> <br>
			<div class="checkbox mb-3">
				<label>
          			<input type="checkbox" name="rm" value="true" > Remember me
        		</label>
			</div>
			<button class="btn btn-lg btn-primary btn-block" type="submit" id="UPlogin">Sign in</button>
			<p class="mt-5 mb-3 text-muted">© 2017-2018</p>
			<a class="btn btn-sm">中文</a>
			<a class="btn btn-sm">English</a>
		</form>
		<h1>短信登陆</h1>
		<form action="smslogin" method="post">
			<span>手机号码：</span><input type="text" name="mobile" id="mobile"> <br>
			<span>短信验证码：</span><input type="text" name="smsCode" id="smsCode" >
			<input type="button" onclick="getSmsCode()" value="获取"><br>
			<input type="button" onclick="smslogin()" value="登陆">
		</form>
	</body>
	<script>
		window.onload=function () {
			var kaptcha=document.getElementById("kaptcha")
			kaptcha.onclick=function () {
				kaptcha.src="kaptcha"
			}
		}
		function getSmsCode() {
			$.ajax({
				type: "get",
				url: "smscode",
				data: {
					"mobile": $("#mobile").val()
				},
				success: function (json) {
					if(json.isok){
						alert(json.data)
					}else{
						alert(json.message)
					}
				},
				error: function (e) {
					console.log(e.responseText);
				}
			});
		}

		function smslogin() {
			var mobile = $("#mobile").val();
			var smsCode = $("#smsCode").val();
			if (mobile === "" || smsCode === "") {
				alert('手机号和短信验证码均不能为空');
				return;
			}
			$.ajax({
				type: "POST",
				url: "smslogin",
				data: {
					"mobile": mobile,
					"smsCode": smsCode
				},
				success: function (json) {
					if(json.isok){
						location.href = json.data;
					}else{
						alert(json.message)
					}
				},
				error: function (e) {
					console.log(e.responseText);
				}
			});
		}
	</script>
</html>